{% extends "base.html"%}

{% block title%}WELCOME{% endblock %}

{% block content %}
    <h1>Welcome to this app Meeting Planner</h1>
    <p>This is a demo application</p>
<!--    <p>There are currently {{ meetings }} meetings in the database!</p>-->
    <h2>Meeting List</h2>
    <ul>
        {% for meeting in meeting_list %}
            <li>
                <a href="{% url 'detail' meeting.pk %}">
                    {{meeting.title}}
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'delete_meeting' meeting.pk %}">DELETE</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'create_meeting' %}">Add New Meetings</a><br>
    <a href="{% url 'room_list' %}">Room List</a>
{% endblock %}
